@import url('https://fonts.googleapis.com/css?family=Muli:600&subset=latin-ext');

html, body {
    background-size: 100%;
    
}

body {
    font-family: 'Muli', sans-serif;
}

.container-fluid {
    padding: 0;
    overflow: hidden;
}

/* --------------- First contact --------------- */
.first-contact {
    background-color: rgb(0, 0, 0);
    color: rgb(255, 255, 255);
    padding: 10px 0 10px 0;
    text-align: center;
    margin: 0;
}
div.col-12.col-md-4.col-sm-4 {
    padding: 0;
}
.mobil {
    color: rgb(255, 255, 255);
    text-decoration: none;
    padding: 0 50px 0 0;
}
.mobil:hover {
    color: rgb(255, 255, 255);
    text-decoration: none;
    padding: 0 50px 0 0;
}
.mail {
    color: rgb(255, 255, 255);
    text-decoration: none;
}
.mail:hover {
    color: rgb(255, 255, 255);
    text-decoration: none;
}


/* --------------- NAV --------------- */
.nav {
    background-color: rgb(255, 130, 30);
}
.nav-link {
    padding: 15px 15px 15px 15px;
    color: rgb(0, 0, 0);
    font-size: 20px;
    text-shadow: 1px 1px white;
}

.nav-link:hover {
    padding: 15px 15px 15px 15px;
    color: rgb(0, 0, 0);
    font-size: 20px;
    text-shadow: 1px 1px white;
    background-color: rgb(255, 200, 0);
}


/* --------------- JUMBOTRON --------------- */
.jumbotron.jumbotron-fluid {
    background-image: url(../img/blur-bulb-close-up-371906.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
}

h1#h1-first-page {
    font-size: 35px;
    text-shadow: 1px 1px rgb(255, 255, 255);
    padding: 0 0 30px 0;
    color: rgb(255, 130, 30);
    text-align: center;
}

span.nonstop {
    background-color: rgba(0, 0, 0, .7);
    padding: 3px 5px 3px 5px;
    text-shadow: 2px 2px rgb(255, 130, 30);
    font-size: 30px;
    color: rgb(255, 255, 255);
        
}

p {
    text-align: center;
    margin-bottom: 0;
}

.mobil1 {
    color: rgb(255, 255, 255);
    text-decoration: none;
}
.mobil1:hover {
    color: rgb(255, 255, 255);
    text-decoration: none;
}


/* --------------- CARD --------------- */
.card {
    border: solid 2px rgb(255, 130, 30);
    height: 350px;
}

.card:hover {
    border: solid 2px rgb(255, 200, 0);
}

.card-img-top {
    height: 150px;
    weight: 150px;
}

h5.card-title {
    text-align: center;
}

div.col-12.col-md-6.col-lg-4.col-xl-3 {
    margin: 10px 10px 10px 10px;
}


/* --------------- Advice-section --------------- */
div.container-fluid.advice-section {
    background-color: rgb(255, 130, 30);
    color: rgb(255, 255, 255);
    text-shadow: 1px 1px rgb(0, 0, 0);
    height: 400px;
    margin: 32px 0 0 0; 
    font-size: 25px;
}

div.col-12.col-lg-6 {
    margin: 10px 0 10px 0x;
    padding: 10px 0 10px 0;
}

img.image-electr {
    align-items: center;
    justify-items: 
}

h3 {
    font-size: 30px;
}




@media (min-width: 576px) {

}
0